/LWJGL_Adapter.jar
/LWJGL_Adapter.zip
/LWJGL_Adapter_EclipseSource.zip
/.classpath
/testResources/
/src/main/java/lwjgladapter/Main.java
/.settings/
.class
/target/
.idea

!.idea/.gitignore
/lwjgladapter.iml
